<!--  menu topo  -->
<div ng-controller="main">
<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
    <searching> </searching></div>
</nav>

<div id="conteudo">
    <!--  blocos de notícias novas  -->
  <div id="notNovas" ng-init="limNot = 20;" >

    <!--  ícone fixo para relatório  -->
    <button style="position:fixed; margin-left: 70%;" ng-click="open('lg','modules/dashboard/views/modal.html',noticiaSelecionada)" title="Gerar relatório manual">
      <img src="img/dashboard/icon3.PNG" style="height: 50px; width: auto; cursor: pointer">
    </button>

      <div ng-repeat="nov in dados | limitTo:limNot">
      <!-- seção que aparece no modo de exibição normal -->
        <noticias info='nov' class="row" ng-show="filter.images"></noticias>

      <!-- seção que aparece no modo de exibição lista -->
      <div class="row">
        <modolista info='nov' class="col-md-11" ng-show="!filter.images"></modolista>
      </div>

      </div>
      <br><br>
      <section layout="row" layout-align="center" layout-wrap align="center">
        <button ng-click="" style="margin-right: 10px;"> Página anterior </button>
        <button ng-click="" > Página seguinte </button>
        <br><br>
      </section>
  </div>
      <!--  footer  -->
    <div id="footer"></div>
</div>
</div>