<div class="fb-post-box">
	<input type="checkbox" style="margin-left:98%" ng-click="adicionaNoticia(nov)" >
  <div class="fb-post-header">
		<label>{{:: info.fromName }}</label>
		
		<a href="http://{{info.postId}}" target="_blank" style="display: inline"><h4 ng-show="info.name === undefined">[Título indisponível]</h4>
		<h4>{{:: info.name }}</h4></a>
	</div>
	<br>
	<div class="fb-reacts">
			<div style="float:left">
			<label ng-show="info.reactions.like > 0">
				{{info.reactions.like}}
				<img src="img/dashboard/like.png">
			</label>
			<label ng-show="info.reactions.love > 0">
					{{info.reactions.love}}
					<img src="img/dashboard/love.png">
			</label>
			<label ng-show="info.reactions.haha > 0">
				{{info.reactions.haha}}
				<img src="img/dashboard/haha.png">
			</label>
			<label ng-show="info.reactions.wow > 0">
					{{info.reactions.wow}}
					<img src="img/dashboard/wow.png">
			</label>
			<label ng-show="info.reactions.sad > 0">
				{{info.reactions.sad}}
				<img src="img/dashboard/sad.png">
			</label>
			<label ng-show="info.reactions.angry > 0">
				{{info.reactions.angry}}
				<img src="img/dashboard/angry.png">
			</label>
			</div>
			<div style="float:right; text-align: right">
			<div>{{info.commentsCount}} <img src="img/dashboard/comment.png">  {{info.sharesCount}} <img src="img/dashboard/share.png"></div>
			</div>
			<br>
			<input type="button" value="{{:: tag }}" ng-repeat = "tag in info.hashtags | limitTo:15" ng-click="" title="Pesquisar por esse tema">
		</div>
</div>