<div class="menu">
  <div class="menu_botoes">
    <span><a href="#dashboard"><img src="/img/layout/bandeira_es.png" style="height: 60px;"></a></span>
    <span><a href="#presidenciaveis"><img src="/img/layout/bandeira_br.png" style="height: 60px;"></a></span>
  </div>
  <!-- data inicial -->
  <div class="menu_space">
    <select ng-model="filter.time">
        <option ng-repeat="option in config.filter.period.values" value="{{option.number}}">{{option.value}}</option>
      </select>
  </div>  
  <!-- ordenação -->
  <div class="menu_space">
    <select ng-model="filter.sort">
        <option ng-repeat="option in config.filter.sort" value="{{option.value}}">{{option.title}}</option>
      </select>
  </div>
  <!-- conteudos -->
  <div class="menu_space">
    <select ng-model="filter.keyword">
        <option ng-repeat="option in config.filter.keyword" value="{{option.tag}}">{{option.title}}</option>
      </select>
  </div>
  <!-- mudar exibicao -->
  <div class="menu_space max-midia">
      <span ng-show="!filter.images" ng-click="filter.images = !filter.images" class="glyphicon glyphicon-th" style="cursor:pointer"> Lista</span>
      <span ng-show="filter.images" ng-click="filter.images = !filter.images" class="glyphicon glyphicon-th-list" style=" cursor:pointer"> Imagens</span>
  </div>

  <div class="menu_space">
      <button ng-click="open('lg','modules/presidenciaveis/views/sobre.html')">
        Sobre
      </button>
  </div>

</div>
