<div class="menu">
  <div class="menu_space max-midia">
    <a href="#dashboard" ng-show="filter.local == 'br'"><img src="/img/icons/bandeira_es.jpg" style="height: 30px"></a>
    <a href="#presidenciaveis" ng-show="filter.local == 'es'"><img src="/img/icons/bandeira_br.jpg" style="height: 30px"></a>
  </div>
  <!-- mudar exibicao -->
  <div class="max-midia">
      <span ng-show="!filter.images" ng-click="filter.images = !filter.images" class="glyphicon glyphicon-th" style="cursor:pointer"> Lista</span>
      <span ng-show="filter.images" ng-click="filter.images = !filter.images" class="glyphicon glyphicon-th-list" style=" cursor:pointer"> Imagens</span>
  </div>
  <!-- data inicial -->
  <div class="menu_space">
    <select ng-model="filter.time">
        <option ng-repeat="option in config.filter.period.values" value="{{option.number}}">{{option.value}}</option>
      </select>
  </div>  
  <!-- ordenação -->
  <div class="menu_space">
    <select ng-model="filter.sort">
        <option ng-repeat="option in config.filter.sort" value="{{option.value}}">{{option.title}}</option>
      </select>
  </div>
  <!-- conteudos -->
  <div class="menu_space">
    <select ng-model="filter.keyword">
        <option ng-repeat="option in config.filter.keyword" value="{{option.tag}}">{{option.title}}</option>
      </select>
  </div>

</div>
