<div class="row">
  <!-- espacamento -->
  <div class="menu_space"></div>
  <!-- mudar exibicao -->
  <div class="menu_space">
      Modo de exibição:<br>
      <span ng-click="mudarExibicao(0)" class="glyphicon glyphicon-th" style="margin-right: 20px; cursor:pointer"></span>
      <span ng-click="mudarExibicao(1)" class="glyphicon glyphicon-th-list" style=" cursor:pointer"></span>
  </div>
  <!-- data inicial -->
  <div class="menu_space">
    <select ng-model="filter.time">
        <option ng-repeat="option in config.filter.period.values" value="{{option.value}}">{{option.value}}</option>
      </select>
  </div>  
  <!-- conteudos -->
  <div class="menu_space">
    <select ng-model="filter.actor">
        <option ng-repeat="option in config.filter.actors" value="{{option.tag}}">{{option.title}}</option>
      </select>
  </div>

  <!-- espacamento -->
  <div class="menu_space"></div>
</div>
